server:
  port: 8087
spring:
  application:
    name: auth-service
eureka:
  client:
    service-url:
      defultZone: http://127.0.0.1:10086/eureka
    registry-fetch-interval-seconds: 10
  instance:
    lease-renewal-interval-in-seconds: 5
    lease-expiration-duration-in-seconds: 15
